player-connection-mode=Listen
player-connection-guid=1389342273
player-connection-debug=0
player-connection-project-name=Call Of Boomer
player-connection-ip=192.168.56.1
player-connection-ip=192.168.0.81
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
