player-connection-mode=Listen
player-connection-guid=616053382
player-connection-debug=0
player-connection-project-name=Call Of Boomer
player-connection-ip=192.168.0.37
player-connection-ip=192.168.56.1
player-connection-ip=10.8.10.6
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
